body {
  height: 100%;
  margin: 0;
font-family: 'Acme', sans-serif;

}
#bar{
	font-size: 0;

}
a {
	text-decoration: none;
}

.nav-bar {
	background-color: #555;
	color: white;
	float: top;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	font-size: 17px;
	width: 25%;
}



.nav-bar:hover {
  background-color: #777;
}

.contenido-I {
	position: relative;
	height: 100%;
	margin: 0;
}

.I-Footer{
	background: rgba(0,0,0,0.5);
	position: fixed;
	bottom: 0px;
	margin: 0;
	padding: 20px; 
}
.I-Footer>a {
	color: white;
	font-size: 2em;
}

#Descripcion{
	width: 50%;
	margin: 0 auto;
}
#Personajes{
	width: 50%;
	margin: 0 auto;
}

#Trailers{
	width: 50%;
	margin: 0 auto;
}